[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

py = "*"
pyparsing = "*"
h800-master = {git = "https://github.com/jimlawton/h800", editable = true}
pylog-master = {git = "https://github.com/jimlawton/pylog", editable = true}
fuzzywuzzy = "*"


[dev-packages]

pytest = "*"


[requires]

python_version = "3.6"
