[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py = "*"
pyparsing = "*"
h800 = {git = "https://github.com/jimlawton/h800", editable = true}
pylog = {git = "https://github.com/jimlawton/pylog", editable = true}
fuzzywuzzy = "*"
python-levenshtein = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
