appdirs==1.4.3
packaging==16.8
py==1.4.34
pyparsing==2.2.0
pytest==3.1.1
six==1.10.0
-e git+https://github.com/jimlawton/h800#egg=h800-master
-e git+https://github.com/jimlawton/pylog#egg=pylog-master
